.navbar{
    width: 100%;
    height: 5em ;
    margin-bottom:0px ;
    margin-top: 0px;
    background-color: rgb(248, 249, 250);
    position:fixed;
    font-family:"candara";
    padding-bottom: 0px;
    box-sizing: border-box;
}
a{
    font-family:"candara";
    text-decoration: none;
    /*font-weight: :lighter;*/ 
}
.logo{
    margin-top: -11px;
    margin-left: -27.5px;
    margin-right: 51px;
    width: 12em;
    float: left;
}
linksdanavbar:last-child{
    border: solid rebeccapurple;    
}

.botao{
    font-size: 1.3em;
   /* font-family: "candara";*/
    margin:1.2em;
    float: left;
    margin-bottom: 0%;
    margin-top: 0.45em;
    text-decoration: none;
    color: rgb(124, 124, 125);
}
.botao:hover{
    color: #4a4a4b;
}
.banner{
    color: rgb(124, 124, 125);
    font-family:"candara"; 
}
.textoinicial{
    /*font-family:"candara";*/
    color: rgb(74, 74, 75);
}
.titulo{
    font-size:1.9em;
    /*font-family:"Candara";*/
    font-weight: lighter;
    margin: 3%;
    text-align: center;
}
.textoinicial{
    font-size: 1.1em;
    /*font-family: "Candara";*/
    font-weight: lighter;
    margin: 3%;
    text-align: center;
}
.cardsdeservico{
    width:100% ;
    height:400px ;
    background-color:#ffffff ;
    /*padding-left:1em;*/
    display: flex;
    /*flex-direction: row;*/
    justify-content:space-around;
    /*align-items: center;*/ 
}
.cardsdeservico:hover{
    background-color: black;
}
.card{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 5px 8px #4a4a4b;
    border-color:#7c7c7d ;
    box-sizing: border-box;
    text-align: center;
    font-size: 0.5em;
    float: left;
    margin: 1.9%;
   /* border: solid #5dd9c0;*/
}
.card:hover{
    box-shadow: 5px 10px 20px #4a4a4b;
}
.titulodocard{
    font-size: 4em;
    font-family:"Candara";
    font-weight: lighter;
    text-align: center;
    color: #4a4a4b;    
}
.titulodocard:hover{
    color: #5dd9c0;
    text-shadow: 1px 1px #4a4a4b;
}
.textodocard{
    font-size: 2.05em;
    font-family: "Candara";
    font-weight: lighter;
    text-align: center;
    margin: 1.2em;
    color: #4a4a4b;
}
.infodecontato{
   background-image: url("../guiaimagens/serv.jpg");
   background-position: center;
   height: 360px; 
   text-align: center;
   font-display:flex;
   float: left;
   width: 100%;
   display: flex;
   justify-content: 
     

}
.corinfobackground{
    width: 100%;
    height: 360px;
    background-color: rgba(30,33,54,0.9);
}
.titulocontato{
    /*font-family: "Candara";*/
    font-size:2em;
    color: white;
    display: flex;
    flex-direction: column;
     margin-top: 3%;
    /* border:solid white;*/

}
.textocontato{
    /*font-family: "Candara";*/
    font-size:2em;
    color:#5dd9c0;
    display: flex;
    flex-direction: column;
    /*margin-top:0% ;*/
    /*border: solid #5dd9c0;*/
}
.numerocontato{
    /*font-family:"Candara";*/
    font-size:2em;
    color:#cec075;
    display: flex;
    flex-direction: column;
    /*margin-top:1%;*/
   /* border: solid #cec075;*/
}
.botaocontato{

   /* background-color: #5dd9c0;
    border-radius: 15px;
    padding: 0.9%;
    padding-left: 4%;
    margin-top: 2%;
    font-size: 1.6em;
    font-weight: lighter;
    font-family: "Candara";
    color: white;*/

}
.descricaodovideo{   
 color: #4a4a4b;
 float: left;
 margin-left: 7.8%;
 margin-top: 5.5%;
 margin-bottom: 8%; 
}
.titulodovideo{


}
.textodovideo{
    font-size: 1.1em;
    float: left;

   
    margin-top: 1.5%;

}
.video{
    float: right;
    width: 35%;
    height: 300px;
    margin-right: 3%;
    margin-top: 5%;
}





.rodape{
    color:white; 
    box-sizing: border-box;
    text-align: center;
}
.cordorodape{
    width: 100%;
    height:2em;
   bottom: 0;
   left: 0;
    position: fixed;
    background-color: rgb(30, 32, 53);
}
body{
    margin: 0px;
}

li{
    list-style-type: none;
    float: unset;
}

